
{%extends 'admin.html'%}

{%block content%}

div class="container-fluid">
            <div class="side-body padding-top">
                    <h1 class="page-title">
        <i class="voyager-documentation"></i>
        Edit Tax
    </h1>
                    <div id="voyager-notifications"></div>
                    <div class="page-content edit-add container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-bordered">
                    <!-- form start -->
                    <form role="form"
                            class="form-edit-add"
                            action="https://eventmie-pro-demo.classiebit.com/admin/taxes/4"
                            method="POST" enctype="multipart/form-data">
                        <!-- PUT Method if we are editing -->
                                                    <input type="hidden" name="_method" value="PUT">
                        
                        <!-- CSRF TOKEN -->
                        <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">

                        <div class="panel-body">

                            
                            <!-- Adding / Editing -->
                            
                                                            <!-- GET THE DISPLAY OPTIONS -->
                                                                
                                <div class="form-group  col-md-12 " >
                                    
                                    <label class="control-label" for="name">Title</label>
                                                                                                                <input  required  type="text" class="form-control" name="title"
        placeholder="Title"
       
       value="Admin Handling Fee">

                                    
                                                                                                        </div>
                                                            <!-- GET THE DISPLAY OPTIONS -->
                                                                
                                <div class="form-group  col-md-12 " >
                                    
                                    <label class="control-label" for="name">Rate Type</label>
                                                                                                                <select class="form-control select2" name="rate_type">
                                            <option value="percent"   selected="selected" >Percent</option>
                            <option value="fixed"  >Fixed</option>
                        </select>

                                    
                                                                                                        </div>
                                                            <!-- GET THE DISPLAY OPTIONS -->
                                                                
                                <div class="form-group  col-md-12 " >
                                    
                                    <label class="control-label" for="name">Rate</label>
                                                                                                                <input  required  type="text" class="form-control" name="rate"
        placeholder="Rate"
       
       value="3.00">

                                    
                                                                                                        </div>
                                                            <!-- GET THE DISPLAY OPTIONS -->
                                                                
                                <div class="form-group  col-md-12 " >
                                    
                                    <label class="control-label" for="name">Net Price</label>
                                                                                                                <select class="form-control select2" name="net_price">
                                            <option value="including"  >Including</option>
                            <option value="excluding"   selected="selected" >Excluding</option>
                        </select>

                                    
                                                                                                        </div>
                                                            <!-- GET THE DISPLAY OPTIONS -->
                                                                
                                <div class="form-group  col-md-12 " >
                                    
                                    <label class="control-label" for="name">Status</label>
                                                                                                                <select class="form-control select2" name="status">
                                            <option value="0"  >Disabled</option>
                            <option value="1"   selected="selected" >Enabled</option>
                        </select>

                                    
                                                                                                        </div>
                                                            <!-- GET THE DISPLAY OPTIONS -->
                                                                
                                <div class="form-group  col-md-12 " >
                                    
                                    <label class="control-label" for="name">Admin Tax</label>
                                                                                                                <select class="form-control select2" name="admin_tax">
                                            <option value="1"   selected="selected" >Yes</option>
                            <option value="0"  >No</option>
                        </select>

                                    
                                                                                                        </div>
                            
                        </div><!-- panel-body -->

                        <div class="panel-footer">
                                                                                        <button type="submit" class="btn btn-primary save">Save</button>
                                                    </div>
                    </form>

                    <iframe id="form_target" name="form_target" style="display:none"></iframe>
                    <form id="my_form" action="https://eventmie-pro-demo.classiebit.com/admin/upload" target="form_target" method="post"
                            enctype="multipart/form-data" style="width:0;height:0;overflow:hidden">
                        <input name="image" id="upload_file" type="file"
                                 onchange="$('#my_form').submit();this.value='';">
                        <input type="hidden" name="type_slug" id="type_slug" value="taxes">
                        <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-danger" id="confirm_delete_modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="voyager-warning"></i> Are you sure</h4>
                </div>

                <div class="modal-body">
                    <h4>Are you sure you want to delete '<span class="confirm_delete_name"></span>'</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirm_delete">Yes, Delete it!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Delete File Modal -->
            </div>
        </div>


{%endblock%}