
{%extends 'admin.html'%}

{%block content%}

<div class="container-fluid">
    <div class="side-body padding-top">
            <div class="container-fluid">
<h1 class="page-title">
    <i class="voyager-documentation"></i> Taxes
</h1>
            <a href="/admin/taxes/create" class="btn btn-success btn-add-new">
        <i class="voyager-plus"></i> <span>Add New</span>
    </a>
                    <a class="btn btn-danger" id="bulk_delete_btn"><i class="voyager-trash"></i> <span>Bulk Delete</span></a>


<!-- /.modal -->

<script>
window.onload = function () {
// Bulk delete selectors
var $bulkDeleteBtn = $('#bulk_delete_btn');
var $bulkDeleteModal = $('#bulk_delete_modal');
var $bulkDeleteCount = $('#bulk_delete_count');
var $bulkDeleteDisplayName = $('#bulk_delete_display_name');
var $bulkDeleteInput = $('#bulk_delete_input');
// Reposition modal to prevent z-index issues
$bulkDeleteModal.appendTo('body');
// Bulk delete listener
$bulkDeleteBtn.click(function () {
var ids = [];
var $checkedBoxes = $('#dataTable input[type=checkbox]:checked').not('.select_all');
var count = $checkedBoxes.length;
if (count) {
    // Reset input value
    $bulkDeleteInput.val('');
    // Deletion info
    var displayName = count > 1 ? 'Taxes' : 'Tax';
    displayName = displayName.toLowerCase();
    $bulkDeleteCount.html(count);
    $bulkDeleteDisplayName.html(displayName);
    // Gather IDs
    $.each($checkedBoxes, function () {
        var value = $(this).val();
        ids.push(value);
    })
    // Set input value
    $bulkDeleteInput.val(ids);
    // Show modal
    $bulkDeleteModal.modal('show');
} else {
    // No row selected
    toastr.warning('You haven&#039;t selected anything to delete');
}
});
}
</script>
                                    <a href="/admin/taxes/order" class="btn btn-primary btn-add-new">
            <i class="voyager-list"></i> <span>Order</span>
        </a>
                                                                                                                                            </div>
        <div id="voyager-notifications"></div>
            <div class="page-content browse container-fluid">
<div class="alerts">
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-bordered">
            <div class="panel-body">
                                            <form method="get" class="form-search">
                        <div id="search-input">
                            <div class="col-2">
                                <select id="search_key" name="key" data-select2-id="search_key" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                                                                    <option value="id">Id</option>
                                                                                    <option value="title" selected="" data-select2-id="2">Title</option>
                                                                                    <option value="rate_type">Rate Type</option>
                                                                                    <option value="rate">Rate</option>
                                                                                    <option value="net_price">Net Price</option>
                                                                                    <option value="status">Status</option>
                                                                                    <option value="updated_at">Updated At</option>
                                                                                    <option value="admin_tax">Admin Tax</option>
                                                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 96px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-search_key-container"><span class="select2-selection__rendered" id="select2-search_key-container" role="textbox" aria-readonly="true" title="Title">Title</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <div class="col-2">
                                <select id="filter" name="filter" data-select2-id="filter" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                    <option value="contains" data-select2-id="4">contains</option>
                                    <option value="equals">=</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="3" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-filter-container"><span class="select2-selection__rendered" id="select2-filter-container" role="textbox" aria-readonly="true" title="contains">contains</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Search" name="s" value="">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="submit">
                                        <i class="voyager-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                                                    </form>
                                        <div class="table-responsive">
                    <table id="dataTable" class="table table-hover">
                        <thead>
                            <tr>
                                                                            <th class="dt-not-orderable">
                                        <input type="checkbox" class="select_all">
                                    </th>
                                                                                                                <th>
                                                                                    <a href="/admin/taxes?sort_order=desc&amp;order_by=id">
                                                                                Id
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/taxes?sort_order=desc&amp;order_by=title">
                                                                                Title
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/taxes?sort_order=desc&amp;order_by=rate_type">
                                                                                Rate Type
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/taxes?sort_order=desc&amp;order_by=rate">
                                                                                Rate
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/taxes?sort_order=desc&amp;order_by=net_price">
                                                                                Net Price
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/taxes?sort_order=desc&amp;order_by=status">
                                                                                Status
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/taxes?sort_order=asc&amp;order_by=updated_at">
                                                                                Updated At
                                                                                                                                                                                                <i class="voyager-angle-down pull-right"></i>
                                                                                                                                            </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/taxes?sort_order=desc&amp;order_by=admin_tax">
                                                                                Admin Tax
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th class="actions text-right dt-not-orderable">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                                                <tr>
                                                                            <td>
                                        <input type="checkbox" name="row_id" id="checkbox_4" value="4">
                                    </td>
                                                                                                                                                                <td>
                                                                                                                                                <div>4</div>
                                                                                    </td>
                                                                                                                        <td>
                                                                                                                                                <div>Admin Handling Fee</div>
                                                                                    </td>
                                                                                                                        <td>
                                        
                                            Percent

                                                                                    </td>
                                                                                                                        <td>
                                                                                                                                                <div>3.00</div>
                                                                                    </td>
                                                                                                                        <td>
                                        
                                            Excluding

                                                                                    </td>
                                                                                                                        <td>
                                        
                                            Enabled

                                                                                    </td>
                                                                                                                        <td>
                                                                                                                                                    2024-10-31 11:03:17
                                                                                                                                        </td>
                                                                                                                        <td>
                                        
                                            Yes

                                                                                    </td>
                                                                        <td class="no-sort no-click bread-actions">
                                                                                                                                        <a href="javascript:;" title="Delete" class="btn btn-sm btn-danger pull-right delete" data-id="4" id="delete-4">
        <i class="voyager-trash"></i> <span class="hidden-xs hidden-sm">Delete</span>
    </a>
                                                                                                                                                                                                                                                                                                                                                                                                    <a href="/admin/taxes/4/edit" title="Edit" class="btn btn-sm btn-primary pull-right edit">
        <i class="voyager-edit"></i> <span class="hidden-xs hidden-sm">Edit</span>
    </a>
                                                                                                                                                                                                    <a href="/admin/taxes/4" title="View" class="btn btn-sm btn-warning pull-right view">
        <i class="voyager-eye"></i> <span class="hidden-xs hidden-sm">View</span>
    </a>
                                                                                                                                        </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                                            <div class="pull-left">
                        <div role="status" class="show-res" aria-live="polite">Showing 1 to 4 of 4 entries</div>
                    </div>
                    <div class="pull-right">
                        
                    </div>
                                    </div>
        </div>
    </div>
</div>
</div>


<div class="modal modal-danger fade" tabindex="-1" id="delete_modal" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="voyager-trash"></i> Are you sure you want to delete this tax?</h4>
        </div>
        <div class="modal-footer">
            <form action="#" id="delete_form" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="Eg6OmmUcVUSCkozFQ0aLelfXW7MBTznF30ONwYm0">
                <input type="submit" class="btn btn-danger pull-right delete-confirm" value="Yes, Delete it!">
            </form>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    </div>
</div>

{%endblock%}