

{%extends 'admin.html'%}

{%block content%}

<div class="container-fluid">
    <div class="side-body padding-top">
            <h1 class="page-title">
<i class="fas fa-list"></i>Menu Builder (footer)
<div class="btn btn-success add_item"><i class="fas fa-plus"></i> New Menu Item</div>
</h1>
<div class="language-selector">
<div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                    <label class="btn btn-primary active">
            <input type="radio" name="i18n_selector" id="en" autocomplete="off" checked=&quot;checked&quot;> EN
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="ar" autocomplete="off"> AR
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="de" autocomplete="off"> DE
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="fr" autocomplete="off"> FR
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="es" autocomplete="off"> ES
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="hi" autocomplete="off"> HI
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="it" autocomplete="off"> IT
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="ja" autocomplete="off"> JA
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="nl" autocomplete="off"> NL
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="ru" autocomplete="off"> RU
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="zh_CN" autocomplete="off"> ZH_CN
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="zh_TW" autocomplete="off"> ZH_TW
        </label>
            </div>
</div>
        <div id="fas fa-notifications"></div>
            
<div class="page-content container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <p class="panel-title" style="color:#777">Drag and drop the menu Items below to re-arrange them.</p>
            </div>

            <div class="panel-body" style="padding:30px;">
                <div class="dd">
                    <ol class="dd-list">


<li class="dd-item" data-id="21">
<div class="pull-right item_actions">
    <div class="btn btn-sm btn-danger pull-right delete" data-id="21">
        <i class="fas fa-trash"></i> Delete
    </div>
    <div class="btn btn-sm btn-primary pull-right edit"
        data-id="21"
        data-title="Custom Footer Menu 1"
        data-url="#"
        data-target="_self"
        data-icon_class=""
        data-color=""
        data-route=""
        data-parameters="null"
    >
        <i class="fas fa-edit"></i> Edit
    </div>
</div>
<div class="dd-handle">
                    <input type="hidden"
   data-i18n="true"
   name="title21_i18n"
   id="title21_i18n"
   value="{&quot;en&quot;:&quot;Custom Footer Menu 1&quot;,&quot;ar&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;de&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;fr&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;es&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;hi&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;it&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;ja&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;nl&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;ru&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;zh_CN&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;,&quot;zh_TW&quot;:&quot;fas fa::generic.Custom Footer Menu 1&quot;}">
                <span>Custom Footer Menu 1</span> <small class="url">#</small>
</div>
            <ol class="dd-list">


<li class="dd-item" data-id="22">
<div class="pull-right item_actions">
    <div class="btn btn-sm btn-danger pull-right delete" data-id="22">
        <i class="fas fa-trash"></i> Delete
    </div>
    <div class="btn btn-sm btn-primary pull-right edit"
        data-id="22"
        data-title="Catalogue Downloads"
        data-url="#"
        data-target="_self"
        data-icon_class=""
        data-color=""
        data-route=""
        data-parameters="null"
    >
        <i class="fas fa-edit"></i> Edit
    </div>
</div>
<div class="dd-handle">
                    <input type="hidden"
   data-i18n="true"
   name="title22_i18n"
   id="title22_i18n"
   value="{&quot;en&quot;:&quot;Catalogue Downloads&quot;,&quot;ar&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;de&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;fr&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;es&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;hi&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;it&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;ja&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;nl&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;ru&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;zh_CN&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;,&quot;zh_TW&quot;:&quot;fas fa::generic.Catalogue Downloads&quot;}">
                <span>Catalogue Downloads</span> <small class="url">#</small>
</div>
    </li>


</ol>
    </li>


<li class="dd-item" data-id="29">
<div class="pull-right item_actions">
    <div class="btn btn-sm btn-danger pull-right delete" data-id="29">
        <i class="fas fa-trash"></i> Delete
    </div>
    <div class="btn btn-sm btn-primary pull-right edit"
        data-id="29"
        data-title="Popular Links"
        data-url="#"
        data-target="_self"
        data-icon_class=""
        data-color=""
        data-route=""
        data-parameters="null"
    >
        <i class="fas fa-edit"></i> Edit
    </div>
</div>
<div class="dd-handle">
                    <input type="hidden"
   data-i18n="true"
   name="title29_i18n"
   id="title29_i18n"
   value="{&quot;en&quot;:&quot;Popular Links&quot;,&quot;ar&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;de&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;fr&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;es&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;hi&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;it&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;ja&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;nl&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;ru&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;zh_CN&quot;:&quot;fas fa::generic.Popular Links&quot;,&quot;zh_TW&quot;:&quot;fas fa::generic.Popular Links&quot;}">
                <span>Popular Links</span> <small class="url">#</small>
</div>
            <ol class="dd-list">


<li class="dd-item" data-id="32">
<div class="pull-right item_actions">
    <div class="btn btn-sm btn-danger pull-right delete" data-id="32">
        <i class="fas fa-trash"></i> Delete
    </div>
    <div class="btn btn-sm btn-primary pull-right edit"
        data-id="32"
        data-title="New Events"
        data-url="/events"
        data-target="_self"
        data-icon_class=""
        data-color=""
        data-route=""
        data-parameters="null"
    >
        <i class="fas fa-edit"></i> Edit
    </div>
</div>
<div class="dd-handle">
                    <input type="hidden"
   data-i18n="true"
   name="title32_i18n"
   id="title32_i18n"
   value="{&quot;en&quot;:&quot;New Events&quot;,&quot;ar&quot;:&quot;New Events&quot;,&quot;de&quot;:&quot;New Events&quot;,&quot;fr&quot;:&quot;New Events&quot;,&quot;es&quot;:&quot;New Events&quot;,&quot;hi&quot;:&quot;New Events&quot;,&quot;it&quot;:&quot;New Events&quot;,&quot;ja&quot;:&quot;New Events&quot;,&quot;nl&quot;:&quot;New Events&quot;,&quot;ru&quot;:&quot;New Events&quot;,&quot;zh_CN&quot;:&quot;New Events&quot;,&quot;zh_TW&quot;:&quot;New Events&quot;}">
                <span>New Events</span> <small class="url">/events</small>
</div>
    </li>


</ol>
    </li>


<li class="dd-item" data-id="23">
<div class="pull-right item_actions">
    <div class="btn btn-sm btn-danger pull-right delete" data-id="23">
        <i class="fas fa-trash"></i> Delete
    </div>
    <div class="btn btn-sm btn-primary pull-right edit"
        data-id="23"
        data-title="Custom Footer Menu 2"
        data-url="#"
        data-target="_self"
        data-icon_class=""
        data-color=""
        data-route=""
        data-parameters="null"
    >
        <i class="fas fa-edit"></i> Edit
    </div>
</div>
<div class="dd-handle">
                    <input type="hidden"
   data-i18n="true"
   name="title23_i18n"
   id="title23_i18n"
   value="{&quot;en&quot;:&quot;Custom Footer Menu 2&quot;,&quot;ar&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;de&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;fr&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;es&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;hi&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;it&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;ja&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;nl&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;ru&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;zh_CN&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;,&quot;zh_TW&quot;:&quot;fas fa::generic.Custom Footer Menu 2&quot;}">
                <span>Custom Footer Menu 2</span> <small class="url">#</small>
</div>
            <ol class="dd-list">


<li class="dd-item" data-id="24">
<div class="pull-right item_actions">
    <div class="btn btn-sm btn-danger pull-right delete" data-id="24">
        <i class="fas fa-trash"></i> Delete
    </div>
    <div class="btn btn-sm btn-primary pull-right edit"
        data-id="24"
        data-title="Boat Parties"
        data-url="#"
        data-target="_self"
        data-icon_class=""
        data-color=""
        data-route=""
        data-parameters="null"
    >
        <i class="fas fa-edit"></i> Edit
    </div>
</div>
<div class="dd-handle">
                    <input type="hidden"
   data-i18n="true"
   name="title24_i18n"
   id="title24_i18n"
   value="{&quot;en&quot;:&quot;Boat Parties&quot;,&quot;ar&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;de&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;fr&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;es&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;hi&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;it&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;ja&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;nl&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;ru&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;zh_CN&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;zh_TW&quot;:&quot;fas fa::generic.Boat Parties&quot;}">
                <span>Boat Parties</span> <small class="url">#</small>
</div>
    </li>


</ol>
    </li>


<li class="dd-item" data-id="25">
<div class="pull-right item_actions">
    <div class="btn btn-sm btn-danger pull-right delete" data-id="25">
        <i class="fas fa-trash"></i> Delete
    </div>
    <div class="btn btn-sm btn-primary pull-right edit"
        data-id="25"
        data-title="Custom Footer Menu 3"
        data-url="#"
        data-target="_self"
        data-icon_class=""
        data-color=""
        data-route=""
        data-parameters="null"
    >
        <i class="fas fa-edit"></i> Edit
    </div>
</div>
<div class="dd-handle">
                    <input type="hidden"
   data-i18n="true"
   name="title25_i18n"
   id="title25_i18n"
   value="{&quot;en&quot;:&quot;Custom Footer Menu 3&quot;,&quot;ar&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;de&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;fr&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;es&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;hi&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;it&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;ja&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;nl&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;ru&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;zh_CN&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;,&quot;zh_TW&quot;:&quot;fas fa::generic.Custom Footer Menu 3&quot;}">
                <span>Custom Footer Menu 3</span> <small class="url">#</small>
</div>
            <ol class="dd-list">


<li class="dd-item" data-id="26">
<div class="pull-right item_actions">
    <div class="btn btn-sm btn-danger pull-right delete" data-id="26">
        <i class="fas fa-trash"></i> Delete
    </div>
    <div class="btn btn-sm btn-primary pull-right edit"
        data-id="26"
        data-title="Boat Parties"
        data-url="#"
        data-target="_self"
        data-icon_class=""
        data-color=""
        data-route=""
        data-parameters="null"
    >
        <i class="fas fa-edit"></i> Edit
    </div>
</div>
<div class="dd-handle">
                    <input type="hidden"
   data-i18n="true"
   name="title26_i18n"
   id="title26_i18n"
   value="{&quot;en&quot;:&quot;Boat Parties&quot;,&quot;ar&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;de&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;fr&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;es&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;hi&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;it&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;ja&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;nl&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;ru&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;zh_CN&quot;:&quot;fas fa::generic.Boat Parties&quot;,&quot;zh_TW&quot;:&quot;fas fa::generic.Boat Parties&quot;}">
                <span>Boat Parties</span> <small class="url">#</small>
</div>
    </li>


</ol>
    </li>


</ol>

                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="modal modal-danger fade" tabindex="-1" id="delete_modal" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><i class="fas fa-trash"></i> Are you sure you want to delete this menu item?</h4>
        </div>
        <div class="modal-footer">
            <form action="/admin/menus/3/item/__id"
                  id="delete_form"
                  method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">
                <input type="submit" class="btn btn-danger pull-right delete-confirm"
                       value="Yes, Delete This Menu Item">
            </form>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal modal-info fade" tabindex="-1" id="menu_item_modal" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 id="m_hd_add" class="modal-title hidden"><i class="fas fa-plus"></i> Create a New Menu Item</h4>
            <h4 id="m_hd_edit" class="modal-title hidden"><i class="fas fa-edit"></i> Edit Menu Item</h4>
        </div>
        <form action="" id="m_form" method="POST"
              data-action-add="/admin/menus/3/item"
              data-action-update="/admin/menus/3/item">

            <input id="m_form_method" type="hidden" name="_method" value="POST">
            <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">
            <div class="modal-body">
                <div>
                    <div class="language-selector">
<div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                    <label class="btn btn-primary active">
            <input type="radio" name="i18n_selector" id="en" autocomplete="off" checked=&quot;checked&quot;> EN
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="ar" autocomplete="off"> AR
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="de" autocomplete="off"> DE
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="fr" autocomplete="off"> FR
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="es" autocomplete="off"> ES
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="hi" autocomplete="off"> HI
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="it" autocomplete="off"> IT
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="ja" autocomplete="off"> JA
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="nl" autocomplete="off"> NL
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="ru" autocomplete="off"> RU
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="zh_CN" autocomplete="off"> ZH_CN
        </label>
                    <label class="btn btn-primary">
            <input type="radio" name="i18n_selector" id="zh_TW" autocomplete="off"> ZH_TW
        </label>
            </div>
</div>
                    <label for="name">Title of the Menu Item</label>
                    <input type="hidden"
   data-i18n="true"
   name="title_i18n"
   id="title_i18n"
   value="">
                    <input type="text" class="form-control" id="m_title" name="title" placeholder="Title"><br>
                </div>

                
                <input type="hidden" id="m_link_type" name="type" value="url">
                
                
                
                <div id="m_url_type">
                    <label for="url">URL for the Menu Item</label>
                    <input type="text" class="form-control" id="m_url" name="url" placeholder="URL"><br>
                </div>
                <div id="m_route_type">
                    <label for="route">Route for the menu item</label>
                    <input type="text" class="form-control" id="m_route" name="route" placeholder="Route"><br>
                    <label for="parameters">Route parameters (if any)</label>
                    <textarea rows="3" class="form-control" id="m_parameters" name="parameters" placeholder="{
&quot;key&quot;: &quot;value&quot;
}"></textarea><br>
                </div>

                
                <label for="icon_class">Font Icon class for the Menu Item (Use a <br>
                    <a href="https://fontawesome.com/icons?d=gallery&p=2&s=brands,solid&m=free" target="_blank">FontAwesome v5.0 Free, Solid & Brands Icon class only </a>
                </label>
                <input type="text" class="form-control" id="m_icon_class" name="icon_class" placeholder="e.g-1 fas fa-check / e.g -2 fab fa-apple"><br>
                
                       
                
                

                <label for="target">Open In</label>
                <select id="m_target" class="form-control" name="target">
                    <option value="_self" selected="selected">Same Tab/Window</option>
                    <option value="_blank">New Tab/Window</option>
                </select>
                <input type="hidden" name="menu_id" value="3">
                <input type="hidden" name="id" id="m_id" value="">
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success pull-right delete-confirm__" value="Update">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




    </div>
</div>
{%endblock%}