
{%extends 'dashboard/dashboard/main.html'%}

{%block content%}

<section class="bg-gradient">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-12 mt-15">
                <!-- content -->
                <h2 class="text-white fw-bold mb-2">    Co-sponsors - Aiden Williamson
</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item ">
                            <a href=""><i class="fas fa-home text-white"></i></a>
                        </li>
                        
                                                                                    <li class="breadcrumb-item">
                                    <a href="/events">
                                        
                                                                                    Events                                                                            </a>
                                </li>
                                                                                                                <li class="breadcrumb-item">
                                    <a href="/events/italian-cooking-class-seasonal-pass">
                                        
                                                                                    ITALIAN-COOKING-CLASS-SEASONAL-PASS
                                                                            </a>
                                </li>
                                                                                                                <li class="breadcrumb-item active">
                                    
                                                                            TAG_AIDEN-WILLIAMSON
                                                                    </li>
                                                                        </ol>
                </nav>
            </div>
        </div>
        <!--//.ROW-->
    </div><!-- //.CONTAINER -->
 </section>

 <section class="db-wrapper">

            
    <main>
<div class="py-6 py-lg-10 ">
<div class="container">
    <div class="row">
        <!-- img  -->
        <div class="col-lg-2 col-md-3 col-12">
                                        <img src="/static/storage/tags/August2023/1691495420433.webp" alt="Aiden Williamson" class="rounded-circle avatar-lg-custom mx-auto mb-4">
                                </div>
        <!-- content  -->
        <div class="col-lg-8 col-md-9 col-12">
            <h1 class="mb-1">Aiden Williamson</h1>
            <h5 class="mb-1">Founder &amp; CEO</h5>
            <!-- social media  -->
            <div class="mt-4 mb-4">

                                                <a class="me-1 text-inherit" href="https://twitter.com" target="_blank">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                
                                                <a class="me-1 text-inherit" href="https://facebook.com" target="_blank">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>
                
                                                <a class="me-1 text-inherit" href="https://linkedin.com" target="_blank">
                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                    </a>
                
                                                <a class="me-1 text-inherit" href="https://instagram.com" target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                
                                                <a class="me-1 text-inherit" href="/" target="_blank">
                        <i class="fas fa-globe" aria-hidden="true"></i>
                    </a>
                                        </div>

            <p class="lead">
                </p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. Auctor urna nunc id cursus metus aliquam eleifend. Elit ut aliquam purus sit amet luctus.</p>

<p>Aliquam nulla facilisi cras fermentum odio eu. At tellus at urna condimentum. Sed tempus urna et pharetra pharetra massa massa. Tortor consequat id porta nibh venenatis cras sed felis eget. Morbi quis commodo odio aenean sed adipiscing diam. Nisi scelerisque eu ultrices vitae auctor.</p>

<p>Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Velit scelerisque in dictum non consectetur a erat nam. Non nisi est sit amet facilisis magna. Purus non enim praesent elementum facilisis. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Sociis natoque penatibus et magnis dis parturient montes nascetur. Donec massa sapien faucibus et molestie. Nunc scelerisque viverra mauris in aliquam sem fringilla.</p>

<p>Leo in vitae turpis massa. Id diam vel quam elementum pulvinar etiam non quam.</p>
            <p></p>
        </div>
    </div>
</div>
</div>
</main>


<vue-progress-bar></vue-progress-bar>
</section>

{%endblock%}