

{%extends 'admin.html'%}

{%block content%}

<div class="container-fluid">
    <div class="side-body padding-top">
            <h1 class="page-title">
<i class="fas fa-news"></i>
Edit Post
</h1>
            <div id="fas fa-notifications"></div>
            <div class="page-content container-fluid">
<form class="form-edit-add" role="form" action="/admin/posts/{{id}}" method="POST" enctype="multipart/form-data">
    <!-- PUT Method if we are editing -->
                    <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">

    <div class="row">
        <div class="col-md-8">
            <!-- ### TITLE ### -->
            <div class="panel">
                
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fas fa-character"></i> Post Title
                        <span class="panel-desc"> The title for your post</span>
                    </h3>
                    <div class="panel-actions">
                        <a class="panel-action fas fa-angle-down" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                                                <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="How Eventmie Works For Organisers">
                </div>
            </div>

            <!-- ### CONTENT ### -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Post Content</h3>
                    <div class="panel-actions">
                        <a class="panel-action fas fa-resize-full" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                    </div>
                </div>

                <div class="panel-body">
                                                                            <textarea class="form-control richTextBox" name="body" id="richtextbody">
&lt;p&gt;&lt;strong&gt;And sir dare&lt;/strong&gt; view but over man. So at within mr to simple assure. &lt;strong&gt;Mr disposing&lt;/strong&gt; continued it offending arranging in we. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything &lt;em&gt;&lt;strong&gt;melancholy uncommonly&lt;/strong&gt;&lt;/em&gt; but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;blockquote&gt;
&lt;p&gt;Unpleasant astonished an diminution up partiality.&amp;nbsp;&lt;/p&gt;
&lt;/blockquote&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Noisy an their of meant. Death means up civil do an offer wound of. Called square an in afraid direct. Resolution diminution conviction so mr at unpleasing simplicity no.&amp;nbsp;&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;No it as breakfast up conveying earnestly immediate principle.&lt;/li&gt;
&lt;li&gt;Him son disposed produced humoured overcame she bachelor improved.&lt;/li&gt;
&lt;li&gt;Studied however out wishing but inhabit fortune windows.&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;h4&gt;At as in understood an remarkably solicitude.&amp;nbsp;&lt;/h4&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable. Needed its design number winter see. Oh be me sure wise sons no. Piqued ye of am spirit regret. Stimulated discretion impossible admiration in particular conviction up.&lt;/p&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Is allowance instantly strangers applauded discourse so. Separate entrance welcomed sensible laughing why one moderate shy. We seeing piqued garden he. As in merry at forth least ye stood. And cold sons yet with. Delivered middleton therefore me at. Attachment companions man way excellence how her pianoforte.&amp;nbsp;&lt;/p&gt;
</textarea>


                </div>
            </div><!-- .panel -->

            <!-- ### EXCERPT ### -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Excerpt <small>Small description of this post</small></h3>
                    <div class="panel-actions">
                        <a class="panel-action fas fa-angle-down" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                                                <textarea class="form-control" name="excerpt">And sir dare view but over man. So at within mr to simple assure.</textarea>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Additional Fields</h3>
                    <div class="panel-actions">
                        <a class="panel-action fas fa-angle-down" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                </div>
            </div>

        </div>
        <div class="col-md-4">
            <!-- ### DETAILS ### -->
            <div class="panel panel panel-bordered panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon wb-clipboard"></i> Post Details</h3>
                    <div class="panel-actions">
                        <a class="panel-action fas fa-angle-down" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="slug">URL slug</label>
                                                        <input type="text" class="form-control" id="slug" name="slug"
                            placeholder="slug"
                             data-slug-origin=title data-slug-forceupdate=true
                            value="how-eventmie-works-for-organisers">
                    </div>
                    <div class="form-group">
                        <label for="status">Post Status</label>
                        <select class="form-control" name="status">
                            <option value="PUBLISHED" selected="selected">published</option>
                            <option value="DRAFT">draft</option>
                            <option value="PENDING">pending</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category_id">Post Category</label>
                        <select class="form-control" name="category_id">
                                                                    <option value="1" selected="selected">Business &amp; Seminars</option>
                                                                    <option value="2">Yoga &amp; Health</option>
                                                                    <option value="3">Education &amp; Classes</option>
                                                                    <option value="4">Sports &amp; Fitness</option>
                                                                    <option value="5">Music &amp; Concerts</option>
                                                                    <option value="6">Charity &amp; Non-profit</option>
                                                                    <option value="7">Food &amp; Drink</option>
                                                                    <option value="8">Travel &amp; Trekking</option>
                                                                    <option value="9">Science &amp; Tech</option>
                                                            </select>
                    </div>
                    <div class="form-group">
                        <label for="featured">Featured</label>
                        <input type="checkbox" name="featured">
                    </div>
                </div>
            </div>

            <!-- ### IMAGE ### -->
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon wb-image"></i> Post Image</h3>
                    <div class="panel-actions">
                        <a class="panel-action fas fa-angle-down" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                                                    <img src="/storage/posts/November2023/wgo0zCdtbG8sEjTjXmqJ.jpg" style="width:100%" />
                                                <input type="file" name="image">
                </div>
            </div>

            <!-- ### SEO CONTENT ### -->
            <div class="panel panel-bordered panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon wb-search"></i> SEO Content</h3>
                    <div class="panel-actions">
                        <a class="panel-action fas fa-angle-down" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="meta_description">Meta Description</label>
                                                        <textarea class="form-control" name="meta_description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="meta_keywords">Meta Keywords</label>
                                                        <textarea class="form-control" name="meta_keywords"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="seo_title">SEO Title</label>
                                                        <input type="text" class="form-control" name="seo_title" placeholder="SEO Title" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>

                                <button type="submit" class="btn btn-primary pull-right">
             Update Post                </button>
            </form>

<iframe id="form_target" name="form_target" style="display:none"></iframe>
<form id="my_form" action="/admin/upload" target="form_target" method="post"
        enctype="multipart/form-data" style="width:0;height:0;overflow:hidden">
    <input name="image" id="upload_file" type="file"
             onchange="$('#my_form').submit();this.value='';">
    <input type="hidden" name="type_slug" id="type_slug" value="posts">
    <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">
</form>
</div>

<div class="modal fade modal-danger" id="confirm_delete_modal">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="fas fa-warning"></i> Are you sure</h4>
        </div>

        <div class="modal-body">
            <h4>Are you sure you want to delete '<span class="confirm_delete_name"></span>'</h4>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" id="confirm_delete">Yes, Delete it!</button>
        </div>
    </div>
</div>
</div>
<!-- End Delete File Modal -->
    </div>
</div>

{%endblock%}