{%extends 'dashboard/dashboard/main.html'%}

{%block content%}


<div id="page-content-for-mini" class="bg-light">

    <section>
        <div class="container-fluid">
            <div class="row"><div class="col-12 py-1 mt-2">
            <button type="button" id="nav-toggle" onclick="clickToggle()" class="btn btn-sm bg-secondary rounded-circle">
                <i class="fas fa-bars text-white"></i>
            </button></div></div>
        </div> 
        <div class="container-fluid my-2">
            <div class="row">
                <div class="col-md-12">
                    <div>
                    <div class="card shadow-sm border-0">
                            <div class="card-header d-flex justify-content-between flex-wrap p-4 bg-white border-bottom-0">
                                <div class="d-flex flex-column">
                                    <div><h1 class="fw-bold h2">Booking {{id}}</h1></div> 
                                    <div class="d-flex">
                                        <div class="me-2">
                                            <input type="button" class="form-control" value="Download Ticket" onclick="location.href='/download/ticket/{{id}}'">
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        
                        
                    </div> 
                    <div class="table-responsive">
                        <section class="db-wrapper">

            
                                    <main>
                    
                            <section class="bg-light">
                    
                                <div class="container py-lg-5">
                    
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-12">
                                            <!-- Card -->
                                            <div class="card border-0 shadow-sm">
                    
                                                <!-- Card body -->
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        
                    
                                                        <h3 class="text-center bg-light p-3">Booking Info</h3>
                                                        <table class="table">
                                                            <tbody><tr>
                                                                <th>Order Id</th>
                                                                <td>1573309109877</td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Event Category</th>
                                                                <td>Business &amp; Seminars</td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Event</th>
                                                                <td>Product Marketing Workshop</td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Repetitive</th>
                                                                <td>No</td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Ticket</th>
                                                                <td>Early Bird</td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Ticket Price</th>
                                                                <td>10.00</td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Total amount paid</th>
                                                                <td>21.00 USD</td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Start Date</th>
                                                                <td>09 Dec 2024
                                                                    (UTC)
                                                                </td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>End Date</th>
                                                                                                                <td>09 Dec 2024
                                                                        (UTC)
                                                                    </td>
                                                                                                        </tr>
                    
                                                            <tr>
                                                                <th>Start Time</th>
                                                                <td>
                                                                    09 Dec 2024 01:30 PM
                                                                    (UTC)
                                                                </td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>End Time</th>
                                                                <td>09 Dec 2024 03:30 PM
                                                                    (UTC)
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Booking Date</th>
                                                                <td>09 Nov 2024
                                                                    (UTC)
                                                                </td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Booking Status</th>
                                                                <td><span class="label label-success">Active</span>
                                                                </td>
                                                            </tr>
                    
                                                            <tr>
                                                                <th>Booking Cancellation</th>
                                                                                                                <td><span class="label label-info"> No cancellation</span></td>
                                                                                                        </tr>
                    
                                                            <tr>
                                                                <th>Payment Type</th>
                                                                <td>
                                                                                                                        <span class="label label-default">offline</span>
                                                                                                                </td>
                    
                                                            </tr><tr>
                                                                <th>Paid </th>
                                                                <td>
                    
                                                                                                                        <span class="label label-success"> Yes </span>
                                                                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    
                                        <div class="col-xl-6 col-lg-6 col-12">
                                            <!-- Card -->
                                            <div class="card mb-4 border-0 shadow-sm">
                    
                                                <!-- Card body -->
                                                <div class="card-body">
                                                    
                    
                                                    <h3 class="text-center bg-light p-3">Customer Info</h3>
                                                    <hr>
                                                    <table class="table table-hover">
                                                        <tbody><tr>
                                                            <th>Name</th>
                                                            <td>Cora Woods</td>
                                                        </tr>
                    
                                                        <tr>
                                                            <th>Email</th>
                                                            <td>corawoods@mail.com</td>
                                                        </tr>
                    
                                                    </tbody></table>
                    
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                    
                                    </div>
                    
                                    
                                </div>
                            </section>
                    
                    
                    
                        </main>
                    
                                
                                <vue-progress-bar></vue-progress-bar>
                            </section>
                    </div> <!---->
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
</div>
{%endblock%}