
      <div class="mb-3"><label class="form-label">Event Tags (Optional)</label> 
        <div tabindex="-1" role="combobox" aria-owns="listbox-ajax" class="multiselect form-control px-0 py-0 border-0">
          <div class="multiselect__select"></div>  
          
          <select class="form-control" name="select_tags" class="select_tags">
            <option value=''></option>
            {%for tag in tags%}
              <option value="{{tag['id']}}">{{tag['name']}}</option>
            {%endfor%}
          </select>
          {%if event.get('tags') and event['tags'] != ''%}
            <h5>Available tags</h5>
            <ul>
              {%for tag in tags.split(';')%}
                <li>{{tag}}</li>
              {%endfor%}
            </ul>
          {%endif%}
          <input type="hidden" value="{{event.get('tags')}}"  class="form-control" readonly name="tags" id="tags">
          </div>
        </div> 
        <div>
          <div class="custom_model"><button type="button" class="btn btn-secondary">
            <i class="fa fa-trash"></i> Clear tags</button> <!----></div></div> 
            <div><button type="submit" class="btn btn-primary btn-lg mt-3">
              <i class="fas fa-sd-card"></i> Save</button></div> <hr> <div class="bg-light card shadow-sm mt-3">
                <div class="card-header p-4 bg-white"><h3 class="mb-0">Publish Event</h3> <p class="mb-0">Once you complete all the required steps, your event becomes eligible for Publish</p></div> <div class="card-body p-4"><!----> <button type="button" disabled="disabled" class="btn btn-outline-success btn-lg btn-outline--success"><i class="fas fa-eye"></i> <!----> 
                Publish Event
            </button></div></div>