<div class="row">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label> 
    <input type="text" value="{{ tickets[0].get('ticket_name') if len_tickets > 0 else ''}}"  name="title" class="form-control lgxname" aria-required="true" aria-invalid="false"> 
    <span class="small text-danger" style="display: none;"></span>
  </div> 
  <div class="mb-3">
    <label for="price" class="form-label">Price (KES)</label>
    <input type="text" name="price"  value="{{tickets[0].get('ticket_price') if len_tickets > 0 else ''}}"  class="form-control lgxname" aria-required="true" aria-invalid="false"> 
    <span class="small text-danger" style="display: none;"></span>
  </div> 
  <div class="mb-3">
    <label for="quantity" class="form-label">Total Ticket Quantity</label> 
    <input type="text" name="quantity"  value="{{tickets[0].get('ticket_quantity') if len_tickets > 0 else ''}}"  class="form-control lgxname" aria-required="true" aria-invalid="false"> 
    <span class="small text-danger" style="display: none;"></span>
  </div> 
  <div class="mb-3">
    <label for="customer_limit" class="form-label">Booking Limit Per Customer</label> 
    <input type="text" name="customer_limit"  value="{{tickets[0].get('customer_limit') if len_tickets > 0 else ''}}"  class="form-control lgxname"> 
    <span class="small text-muted">For how many times the same customer can purchase this ticket. (leave blank for unlimited)</span> 
    <span class="small text-danger" style="display: none;"></span>
  </div> 
  <div class="mb-3">
    <label for="description" class="form-label">Description</label> 
    <textarea name="description" rows="2" class="form-control lgxname"> {{tickets[0].get('ticket_description') if len_tickets > 0 else ''}} </textarea> 
    <span class="small text-danger" style="display: none;"></span>
  </div> 
  <div class="mb-3">
    <label class="form-label">Taxes</label> 
    <div tabindex="-1" role="combobox" aria-owns="listbox-null" class="multiselect form-control px-0 py-0 border-0">
      <div class="multiselect__select"></div>  
      <select class="form-control"name="tax_id">
        <option value="">Select</option> 
        {%for tax in taxes%}
        
        <option value="{{tax['id']}}">{{tax['name']}}</option>
        {%endfor%}
      </select>
      
    </div>
  </div>
</div>