<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="form-group mb-3">
            <label for="start_date" class="form-label">Start Date</label> 
            <div class="form-control mx-datepicker">
                <div class="mx-input-wrapper">
                    <input name="date" type="text" autocomplete="off" placeholder="Start Date" class="mx-input">
                    <i class="mx-icon-calendar">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="1em" height="1em"><path d="M940.218182 107.054545h-209.454546V46.545455h-65.163636v60.50909H363.054545V46.545455H297.890909v60.50909H83.781818c-18.618182 0-32.581818 13.963636-32.581818 32.581819v805.236363c0 18.618182 13.963636 32.581818 32.581818 32.581818h861.090909c18.618182 0 32.581818-13.963636 32.581818-32.581818V139.636364c-4.654545-18.618182-18.618182-32.581818-37.236363-32.581819zM297.890909 172.218182V232.727273h65.163636V172.218182h307.2V232.727273h65.163637V172.218182h176.872727v204.8H116.363636V172.218182h181.527273zM116.363636 912.290909V442.181818h795.927273v470.109091H116.363636z"></path></svg>
                    </i>
                </div>
            </div> 
            <input type="hidden" name="start_date" class="form-control" aria-required="true" aria-invalid="false"> 
            <span class="help text-danger" style="display: none;"></span>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="form-group mb-3">
            <label for="start_time" class="form-label">Start Time</label> 
            <div class="form-control mx-datepicker">
                <div class="mx-input-wrapper">
                    <input name="date" type="text" autocomplete="off" placeholder="Start Time" class="mx-input">
                    <i class="mx-icon-calendar">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"><path d="M0 0h24v24H0z" fill="none"></path> <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path> <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path></svg>
                    </i>
                </div>
            </div> 
            <input type="hidden" name="start_time" class="form-control" aria-required="true" aria-invalid="false"> 
            <span class="help text-danger" style="display: none;"></span>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="form-group mb-3">
            <label for="end_date" class="form-label">End Date</label> 
            <div class="form-control mx-datepicker">
                <div class="mx-input-wrapper">
                    <input name="date" type="text" autocomplete="off" placeholder="End Date" class="mx-input">
                        <i class="mx-icon-calendar"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="1em" height="1em"><path d="M940.218182 107.054545h-209.454546V46.545455h-65.163636v60.50909H363.054545V46.545455H297.890909v60.50909H83.781818c-18.618182 0-32.581818 13.963636-32.581818 32.581819v805.236363c0 18.618182 13.963636 32.581818 32.581818 32.581818h861.090909c18.618182 0 32.581818-13.963636 32.581818-32.581818V139.636364c-4.654545-18.618182-18.618182-32.581818-37.236363-32.581819zM297.890909 172.218182V232.727273h65.163636V172.218182h307.2V232.727273h65.163637V172.218182h176.872727v204.8H116.363636V172.218182h181.527273zM116.363636 912.290909V442.181818h795.927273v470.109091H116.363636z"></path></svg></i>
                </div>
            </div> 
            <input type="hidden" name="end_date" class="form-control" aria-required="true" aria-invalid="false"> 
            <span class="help text-danger" style="display: none;"></span>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="form-group mb-3">
            <label for="end_time" class="form-label">End Time</label> 
            <div class="form-control mx-datepicker">
                <div class="mx-input-wrapper">
                    <input name="date" type="text" autocomplete="off" placeholder="End Time" class="mx-input">
                        <i class="mx-icon-calendar">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"><path d="M0 0h24v24H0z" fill="none"></path> <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path> <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path></svg>
                        </i>
                </div>
            </div> 
            <input type="hidden" name="end_time" class="form-control" aria-required="true" aria-invalid="false"> 
            <span class="help text-danger" style="display: none;"></span>
        </div>
    </div>
</div>
<div class="row"><!----></div>
<div class="row">
    <div class="col-md-6">
        <div class="d-flex justify-content-between px-0 mb-3">
            <div>
                <h5 class="mb-0">Add Repetitive Schedules</h5> 
                <span class="small text-muted text-wrap">Make this a repetitive/recurring event</span>
            </div> 
            <div>
                <div class="form-check form-switch">
                    <input type="checkbox" id="repetitive" name="repetitive" value="1" class="form-check-input form-check-input-lg"> 
                    <label for="repetitive" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-md-6"><!---->

    </div> 
    <div class="col-md-6"><!----></div> <!---->
</div>