<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="form-group mb-3">
            <label for="start_date" class="form-label">Start Date</label> 
            <div class="form-control mx-datepicker">
                <div class="mx-input-wrapper">
                    <input name="start_date" value="{{event.get('start_date') or ''}}" type="date" autocomplete="off" placeholder="Start Date" class="mx-input" aria-required="true" aria-invalid="false">
                    
                </div>
            </div> 
            <input type="hidden"  class="form-control" aria-required="true" aria-invalid="false"> 
            <span class="help text-danger" style="display: none;"></span>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="form-group mb-3">
            <label for="start_time" class="form-label">Start Time</label> 
            <div class="form-control mx-datepicker">
                <div class="mx-input-wrapper">
                    <input name="start_time" value="{{event.get('start_time') or ''}}"  type="time" autocomplete="off" placeholder="Start Time" class="mx-input" aria-required="true" aria-invalid="false">
                    
                </div>
            </div> 
            <input type="hidden"  class="form-control" aria-required="true" aria-invalid="false"> 
            <span class="help text-danger" style="display: none;"></span>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="form-group mb-3">
            <label for="end_date" class="form-label">End Date</label> 
            <div class="form-control mx-datepicker">
                <div class="mx-input-wrapper">
                    <input name="end_date" value="{{event.get('end_date') or ''}}"  type="date" autocomplete="off" placeholder="End Date" class="mx-input" aria-required="true" aria-invalid="false">
                       
                </div>
            </div> 
            <input type="hidden"  class="form-control" aria-required="true" aria-invalid="false"> 
            <span class="help text-danger" style="display: none;"></span>
        </div>
    </div> 
    <div class="col-xs-12 col-sm-4 col-md-6">
        <div class="form-group mb-3">
            <label for="end_time" class="form-label">End Time</label> 
            <div class="form-control mx-datepicker">
                <div class="mx-input-wrapper">
                    <input name="end_time" value="{{event.get('end_time') or ''}}"  type="time" autocomplete="off" placeholder="End Time" class="mx-input">
                       
                </div>
            </div> 
            <input type="hidden"  class="form-control" aria-required="true" aria-invalid="false"> 
            <span class="help text-danger" style="display: none;"></span>
        </div>
    </div>
</div>
<div class="row"><!----></div>
<div class="row">
    <div class="col-md-6">
        <div class="d-flex justify-content-between px-0 mb-3">
            <div>
                <h5 class="mb-0">Add Repetitive Schedules</h5> 
                <span class="small text-muted text-wrap">Make this a repetitive/recurring event</span>
            </div> 
            <div>
                <div class="form-check form-switch">
                    <input type="checkbox" id="repetitive" name="repetitive" value="1" class="form-check-input form-check-input-lg"> 
                    <label for="repetitive" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-md-6"><!---->

    </div> 
    <div class="col-md-6"><!----></div> <!---->
</div>