{%extends 'dashboard/dashboard/main.html'%}

{%block content%}

<section class="db-wrapper">

            
    <section>
<div class="container-fluid p-0">
<div class="cover-img-bg" style="background-image: url(/static/uploads/{{venue['images'].split(';')[0]}});">
    <img class="cover-img" src="/static/uploads/{{venue['images'].split(';')[0]}}" alt="{{venue['name']}}">
</div>
</div>

<div class="container mt-4">
<div class="row mb-5">
    <div class="col-xl-8 col-lg-8 col-md-12 col-12">
        <div class="card mb-4">
            
            <div class="card-body p-4">
                <h2 class="mb-2">{{venue['name']}}</h2>
                <div class="mb-4"><p>{{venue['description']}}</p>

                </div>
            </div>
        </div>
        
        <div class="card mb-4">
            <div class="card-body p-4">
                <h4>Pricing</h4>
                <div><p>- LARGE EVENT<br>
                </div>
            </div>
        </div>
                        
        <div class="card mb-4">
            <div class="card-body p-4">
                <h4>Availability</h4>
                <div><p>{{venue['availability']}}</p></div>
            </div>
        </div>
                        
                        <div class="card mb-4">
            <div class="card-body p-4">
                <h4>Food and beverage details</h4>
                <div><p></p>

                </div>
            </div>
        </div>
                        
        <div class="card mb-4">
            <div class="card-body p-4">
                <h4>Amenities</h4>
                <div><p>{{venue['ammenities']}}</p></div>
            </div>
        </div>
                        

        <div class="card my-5" id="gallery">
            <div class="card-body p-4">
                <h4 class="mb-4">Gallery</h4>
                <div class="zoom-gallery">
                    <div class="row">
                        {%for image in images.split(';')[0]%}
                        <div class="col-md-6">
                            <img src="/static/uploads/{{image}}" class="img-fluid rounded mb-2" alt="Frances Show Town">
                        </div>
                        {%endfor%}
                    </div>

                </div>
            </div>
        </div>
                        
        <div class="card mb-4">
            <div class="card-body p-4">
                <h4 class="mb-1">Location</h4>
                <div id="venue_map" class="listing-map" style="width: 100%; height: 500px; position: relative; overflow: hidden;"></div>
            </div>
        </div>


    </div>
    
    <div class="col-xl-4 col-lg-4 col-md-12 col-12 ">
                        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="mb-1">Seated / Standing</h4>
                        <p class="mb-0">
                            {{venue['seated_guestnumber']}} / {{venue['standing_guestnumber']}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
                        
                        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="mb-1">Neighborhoods</h4>
                        <p class="mb-0">
                            {{venue['neighbourhoods']}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
                        
                        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="mb-1">Address</h4>
                        <p class="mb-0">
                            {{venue['address']}}
                           </p>
                    </div>
                </div>
            </div>
        </div>
        
        


        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <h5 class="card-title">Request a Quote</h5>
                        
                        
                        <form method="POST" class="lgx-contactform" action="/venues/request_quote">
                            <input type="hidden" name="_token" value="bTXjeLrJMlUe9iQ5c7MG30MC7mXTh696sNVeG9R2">                                    <div id="my_name_Pi2x3jJ6M28VKMTs_wrap" style="display: none" aria-hidden="true">
<input id="my_name_Pi2x3jJ6M28VKMTs" name="my_name_Pi2x3jJ6M28VKMTs" type="text" value="" autocomplete="nope" tabindex="-1">
<input name="valid_from" type="text" value="eyJpdiI6ImVhYmtwM2dIakRvQnYraDVqVWJjZlE9PSIsInZhbHVlIjoidEhGd0VFUG9ZT1NRbmV1V2cyb05tdz09IiwibWFjIjoiMzhlNDc5MjA2ODBkYjMzYmYyZjNjY2Y4NDYzOWI0YjZiYzBlYWFlZmU4NzdhNDRlNWQxNzRjMGI3M2FhOTBmYyIsInRhZyI6IiJ9" autocomplete="off" tabindex="-1">
</div>

                            <input type="hidden" name="venue_id" value="{{venue['id']}}">

                            <div class="form-group mb-3">
                                <input type="text" name="name" class="form-control" id="lgxname" placeholder="Name" required="" aria-required="true">
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" name="email" class="form-control" id="lgxemail" placeholder="Email" required="" aria-required="true">
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone" required="" aria-required="true">
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" name="guests" class="form-control lgxsubject" id="lgxsubject" placeholder="Number of Guests" aria-required="true">
                            </div>
                            <div class="form-group mb-3">
                                <textarea class="form-control lgxmessage" name="message" id="lgxmessage" rows="5" placeholder="Write about your query" required="" aria-required="true"></textarea>
                            </div>
                            <button type="submit" name="submit" value="contact-form" class="btn btn-primary"><span>Send message</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                </div>
</div>
</div>
</section>

    
    <vue-progress-bar></vue-progress-bar>
</section>

{%endblock%}