

{%extends 'admin.html'%}

{%block content%}

<div class="container-fluid">
    <div class="side-body padding-top">
            <h1 class="page-title">
<i class="fas fa-categories"></i>
Edit Category
</h1>
            <div id="fas fa-notifications"></div>
            <div class="page-content edit-add container-fluid">
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-bordered">
            <!-- form start -->
            <form role="form"
                    class="form-edit-add"
                    action="/admin/categories/{{id}}"
                    method="POST" enctype="multipart/form-data">
                <!-- PUT Method if we are editing -->
                                            <input type="hidden" name="_method" value="PUT">
                
                <!-- CSRF TOKEN -->
                <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">

                <div class="panel-body">

                    
                    <!-- Adding / Editing -->
                    
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 " >
                            
                            <label class="control-label" for="name">Name</label>
                             <input  required  type="text" class="form-control" name="name" placeholder="Name" value="{{category.get('name')}}">

                            
                         </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 " >
                            
                            <label class="control-label" for="name">Slug</label>
                                    <input  required  type="text" class="form-control" name="slug" placeholder="Slug"
data-slug-origin=name value="{{category.get('slug')}}">

                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 " >
                            
                            <label class="control-label" for="name">Thumb (480x270 px)</label>
                                    <div data-field-name="thumb">
                        <a href="#" class="fas fa-x remove-single-image" style="position:absolute;"></a>
                        <img src="/storage/categories/November2023/5e25dBRZOUVnbhedF2MH.webp"
                        data-file-name="categories/November2023/5e25dBRZOUVnbhedF2MH.webp" data-id="{{category.get('id')}}"
                        style="max-width:200px; height:auto; clear:both; display:block; padding:2px; border:1px solid #ddd; margin-bottom:10px;">
</div>
<input  type="file" name="thumb" accept="image/*">

                            
                         </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 " >
                            
                            <label class="control-label" for="name">Status</label>
                            <select class="form-control select2" name="status">
                                {%if category.get('status') = 'Enabled'%}
                                    <option value="0"  >Disabled</option>
                                    <option value="1"   selected="selected" >Enabled</option>
                                {%else%}
                                    <option value="0" selected="selected"  >Disabled</option>
                                    <option value="1"  >Enabled</option>
                                {%endif%}
                            </select>

                            
                        </div>
                    
                </div><!-- panel-body -->

                <div class="panel-footer">
                                                                                <button type="submit" class="btn btn-primary save">Save</button>
                                            </div>
            </form>

            <iframe id="form_target" name="form_target" style="display:none"></iframe>
            <form id="my_form" action="https://eventmie-pro-demo.classiebit.com/admin/upload" target="form_target" method="post"
                    enctype="multipart/form-data" style="width:0;height:0;overflow:hidden">
                <input name="image" id="upload_file" type="file"
                         onchange="$('#my_form').submit();this.value='';">
                <input type="hidden" name="type_slug" id="type_slug" value="categories">
                <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">
            </form>

        </div>
    </div>
</div>
</div>

<div class="modal fade modal-danger" id="confirm_delete_modal">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="fas fa-warning"></i> Are you sure</h4>
        </div>

        <div class="modal-body">
            <h4>Are you sure you want to delete '<span class="confirm_delete_name"></span>'</h4>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" id="confirm_delete">Yes, Delete it!</button>
        </div>
    </div>
</div>
</div>
<!-- End Delete File Modal -->
    </div>
</div>

{%endblock%}