{%extends 'admin.html'%}

{%block content%}
<div class="container-fluid">
            <div class="side-body padding-top">
                        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 mb-0">
                    <h1 class="page-title">
                        <i class="voyager-boat"></i> Dashboard
                    </h1>
                </div>
                <div class="col-xs-6 mb-0">
                    <div class="dropdown pull-right custom-dashboard-dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Notifications
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenu1">
                                                            <li>
                                    <a href="notifications/read/bookings">
                                        13 New
                                        bookings
                                    </a>
                                </li>
                                                            <li>
                                    <a href="notifications/read/cancel">
                                        16 New
                                        cancel
                                    </a>
                                </li>
                                                            <li>
                                    <a href="notifications/read/contact">
                                        2 New
                                        contact
                                    </a>
                                </li>
                                                            <li>
                                    <a href="notifications/read/events">
                                        10 New
                                        events
                                    </a>
                                </li>
                                                            <li>
                                    <a href="notifications/read/user">
                                        2 New
                                        user
                                    </a>
                                </li>
                                                        <li role="separator" class="divider"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
                    <div id="voyager-notifications"></div>
                    <div class="page-content browse container-fluid custom-dashboard">

        
                    <div class="alerts">
    </div>
        
        <div class="row">
            <div class="col-md-12">

                
                
                                    <div class="row statistics">

                        <div class="col-md-2">
                            <div class="box">
                                <i class="voyager-people text-center"></i>
                                <div class="info">
                                    <h3>4</h3>
                                    <p>Customers </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="box">
                                <i class="voyager-company text-center"></i>
                                <div class="info">
                                    <h3>4</h3>
                                    <p>Organisers</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="box">
                                <i class="voyager-calendar text-center"></i>
                                <div class="info">
                                    <h3>17</h3>
                                    <p>Events</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="box">
                                <i class="voyager-ticket text-center"></i>
                                <div class="info">
                                    <h3>379</h3>
                                    <p>Bookings</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <i class="voyager-dollar text-center"></i>
                                <div class="info">
                                    <h3>283445.05 USD</h3>
                                    <p>Revenue</p>
                                </div>
                            </div>
                        </div>

                    </div>
                
                
                <div class="panel panel-bordered">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <h3>Top 10 Selling Events</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <canvas style="display: none;" id="xwrslqbzefpmgcyunidahjvok"  height='400' ></canvas>
<div id="xwrslqbzefpmgcyunidahjvok_loader" style="
    display: flex;
    justify-content: center;
    opacity: 1;
    align-items: center;
    height: 400px;
    
">
    <svg width="50" height="50" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                <stop stop-color="#22292F" stop-opacity="0" offset="0%"/>
                <stop stop-color="#22292F" stop-opacity=".631" offset="63.146%"/>
                <stop stop-color="#22292F" offset="100%"/>
            </linearGradient>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)">
                <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                    <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="0.9s"
                        repeatCount="indefinite" />
                </path>
                <circle fill="#22292F" cx="36" cy="18" r="1">
                    <animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="0.9s"
                        repeatCount="indefinite" />
                </circle>
            </g>
        </g>
    </svg>
</div>

                            </div>
                        </div>

                    </div>
                </div>

                
                
                                    <div class="panel panel-bordered">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Event Sales Reports</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">
                                        <div class="form-group">
                                            <label class="custom-control"
                                                id="event_id_label">Select Event</label>
                                            <select class="form-control" name="event_id" id="event_id">
                                                <option>all
                                                    Events</option>
                                                                                                    <option value="7"> Product Marketing Workshop </option>
                                                                                                    <option value="4"> Seven Rocks Show </option>
                                                                                                    <option value="8"> International Yoga Day </option>
                                                                                                    <option value="13"> Professional Piano Lessons (Seasonal Pass) </option>
                                                                                                    <option value="6"> Caribbean Karaoke Nights </option>
                                                                                                    <option value="3"> Global Marketing Conference </option>
                                                                                                    <option value="17"> Home </option>
                                                                                                    <option value="15"> Funday Sunday Swimming Class (Seasonal Pass) </option>
                                                                                                    <option value="14"> World Health Day </option>
                                                                                                    <option value="5"> Winter Wine Night </option>
                                                                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="custom-control"
                                                id="ticket_lable">Select Ticket</label>

                                            <select class="form-control" name="ticket" id="ticket"></select>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <form
                                        action="admin/export/sales/report"
                                        method="POST">
                                        <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">
                                        <input type="hidden" name="export_event_id" id="export_event_id">
                                        <input type="hidden" name="ticket_id" id="ticket_id">
                                        <button type="submit" id="export_button" class="btn lgx-btn btn-block"><i
                                                class="fas fa-file-csv"></i>
                                            Export Sales Report CSV </button>
                                    </form>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-striped table-hover table-condensed" id="sales_report">
                                        <thead>
                                            <tr>
                                                <th>Order Number</th>
                                                <th>Event</th>
                                                <th>Timing</th>
                                                <th>Customer</th>
                                                <th>Booking Date
                                                </th>
                                                <th>Checked In</th>
                                                <th>Ticket</th>
                                                <th>Order Total
                                                </th>

                                                <th>Organiser</th>
                                                <th>Organiser Earning</th>
                                                <th>Admin Commission</th>
                                                <th>Admin Tax</th>
                                                <th>Payout</th>
                                            </tr>
                                        </thead>

                                        <tfoot class="custom-table-foot" id="tfoot">
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>

                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                

                
                <div class="panel panel-bordered">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Event Tickets Statistics</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <form>
                                    <input type="hidden" name="_token" value="YlEZHCnZWzmQtBXZ6634SqkoXCWGkBlBK440dG0d">
                                    <div class="form-group">
                                        <select class="form-control" name="event_id_ticket_stats"
                                            id="event_id_ticket_stats">
                                            <option>all Events
                                            </option>
                                                                                            <option value="7"> Product Marketing Workshop </option>
                                                                                            <option value="4"> Seven Rocks Show </option>
                                                                                            <option value="8"> International Yoga Day </option>
                                                                                            <option value="13"> Professional Piano Lessons (Seasonal Pass) </option>
                                                                                            <option value="6"> Caribbean Karaoke Nights </option>
                                                                                            <option value="3"> Global Marketing Conference </option>
                                                                                            <option value="17"> Home </option>
                                                                                            <option value="15"> Funday Sunday Swimming Class (Seasonal Pass) </option>
                                                                                            <option value="14"> World Health Day </option>
                                                                                            <option value="5"> Winter Wine Night </option>
                                                                                    </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-striped table-hover table-condensed" id="event_total">
                                    <thead>
                                        <tr>
                                            <th>Event</th>
                                            <th>Ticket</th>
                                            <th>Quantity</th>
                                            <th>Order Total</th>

                                        </tr>
                                    </thead>
                                    <tfoot class="custom-table-foot" id="tfoot">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
            </div>
        </div>

{%endblock%}