

{%extends 'admin.html'%}

{%block content%}

<div class="container-fluid">
    <div class="side-body padding-top">
            <h1 class="page-title">
<i class="voyager-lighthouse"></i>
Add Venue
</h1>
            <div id="voyager-notifications"></div>
            <div class="page-content edit-add container-fluid">
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-bordered">
            <!-- form start -->
            <form role="form" class="form-edit-add" action="/admin/venues" method="POST" enctype="multipart/form-data">
                <!-- PUT Method if we are editing -->
                
                <!-- CSRF TOKEN -->
                <input type="hidden" name="_token" value="bTXjeLrJMlUe9iQ5c7MG30MC7mXTh696sNVeG9R2">

                <div class="panel-body">

                    
                    <!-- Adding / Editing -->
                    
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Organizer</label>
                                <select class="form-control" name="organizer_id" required="">
                                    <option value="">None</option>

                                    <option value="6">
                                    Josh Grey ( joshgrey@mail.com )
                                </option>
                                    <option value="7">
                                    Gina White ( ginawhite@mail.com )
                                </option>
                                    <option value="8">
                                    Katie Stone ( katiestone@mail.com )
                                </option>
                                    <option value="9">
                                    Tony Ray ( tonyray@mail.com )
                                </option>
                                </select>
                            
                                    </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Title</label>
                                        <input required="" type="text" class="form-control" name="title" placeholder="e.g Tajmahal" value="">

                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Description</label>
                                <textarea class="form-control richTextBox" name="description" id="richtextdescription" style="" aria-hidden="true">    
                                </textarea>
                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Venue Type</label>
                                <input required="" type="text" class="form-control" name="venue_type" placeholder="e.g Cinema" value="">

                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->            
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Amenities</label>
                            <textarea class="form-control richTextBox" name="amenities" id="richtextamenities" style="display: ;" aria-hidden="true">    
                            </textarea>


                            
                         </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Slug</label>
                                    <input required="" type="text" class="form-control" name="slug" placeholder="Slug" data-slug-origin="title" data-slug-forceupdate="true" value="">

                            
                       </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Seated Guestnumber</label>
                            <input type="text" class="form-control" name="seated_guestnumber" placeholder="Seated Guestnumber" value="">

                            
                                            </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Standing Guestnumber</label>
                                <input type="text" class="form-control" name="standing_guestnumber" placeholder="Standing Guestnumber" value="">

                            
                                                 </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Neighborhoods</label>
                            <textarea class="form-control richTextBox" name="neighborhoods" id="richtextneighborhoods" style="" aria-hidden="true">    
                            </textarea>
                            
                                    </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Pricing</label>
                                    <textarea class="form-control richTextBox" name="pricing" id="richtextpricing" style="" aria-hidden="true">    
                                    </textarea>

                       </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Availability</label>
                            <textarea class="form-control richTextBox" name="availability" id="richtextavailability" style="display: ;" aria-hidden="true">    
                            </textarea>

                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Food</label>
                            <textarea class="form-control richTextBox" name="food" id="richtextfood" style="display: ;" aria-hidden="true">    
                            </textarea>


                            
                                                                                                </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Show Quotation Form</label>
                            <select class="form-control select2 select2-hidden-accessible" name="show_quoteform" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                        <option value="1" selected="selected" data-select2-id="3">Yes</option>
                                        <option value="0">No</option>
                            </select>
                            
                         </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Contact Email</label>
                            <input type="text" class="form-control" name="contact_email" placeholder="Contact Email" value="">

                       </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Address</label>
                            <input type="text" class="form-control" name="address" placeholder="Address" value="">

                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">City</label>
                             <input type="text" class="form-control" name="city" placeholder="City" value="">

                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">State</label>
                           <input type="text" class="form-control" name="state" placeholder="State" value="">

                            
                           </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Country</label>
                                <select class="form-control" name="country_id" required="">
                                <option value="">None</option>

    
                                </select>
                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Zipcode</label>
                            <input type="text" class="form-control" name="zipcode" placeholder="Zipcode" value="">

                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Google Lattitude</label>
                           <input type="text" class="form-control" name="glat" placeholder="Google Lattitude" value="">

                            
                             </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Google Longitude</label>
                             <input type="text" class="form-control" name="glong" placeholder="Google Longitude" value="">

                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Images</label>
                             <br>
                            <div class="clearfix"></div>
                            <input type="file" name="images[]" multiple="multiple" accept="image/*">

                            
                        </div>
                                                    <!-- GET THE DISPLAY OPTIONS -->
                                                        
                        <div class="form-group  col-md-12 ">
                            
                            <label class="control-label" for="name">Status</label>
                            <select class="form-control select2 select2-hidden-accessible" name="status" data-select2-id="4" tabindex="-1" aria-hidden="true">
                                <option value="1" selected="selected" data-select2-id="6">Enabled</option>
                                <option value="0">Disabled</option>
                            </select>

                            
                                                                                                </div>
                    
                </div><!-- panel-body -->

                <div class="panel-footer">
                                                                                <button type="submit" class="btn btn-primary save">Save</button>
                                            </div>
            </form>

            <iframe id="form_target" name="form_target" style="display:none"></iframe>
            <form id="my_form" action="/admin/upload" target="form_target" method="post" enctype="multipart/form-data" style="width:0;height:0;overflow:hidden">
                <input name="image" id="upload_file" type="file" onchange="$('#my_form').submit();this.value='';">
                <input type="hidden" name="type_slug" id="type_slug" value="venues">
                <input type="hidden" name="_token" value="bTXjeLrJMlUe9iQ5c7MG30MC7mXTh696sNVeG9R2">
            </form>

        </div>
    </div>
</div>
</div>

<div class="modal fade modal-danger" id="confirm_delete_modal">
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"><i class="voyager-warning"></i> Are you sure</h4>
        </div>

        <div class="modal-body">
            <h4>Are you sure you want to delete '<span class="confirm_delete_name"></span>'</h4>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" id="confirm_delete">Yes, Delete it!</button>
        </div>
    </div>
</div>
</div>
<!-- End Delete File Modal -->
    </div>
</div>

{%endblock%}