

{%extends 'admin.html'%}

{%block content%}

<div class="container-fluid">
    <div class="side-body padding-top">
            <div class="container-fluid">
<h1 class="page-title">
    <i class="fas fa-lighthouse"></i> Venues
</h1>
            <a href="/admin/venues/create" class="btn btn-success btn-add-new">
        <i class="fas fa-plus"></i> <span>Add New</span>
    </a>
                    <a class="btn btn-danger" id="bulk_delete_btn"><i class="fas fa-trash"></i> <span>Bulk Delete</span></a>


<!-- /.modal -->

<script>
window.onload = function () {
// Bulk delete selectors
var $bulkDeleteBtn = $('#bulk_delete_btn');
var $bulkDeleteModal = $('#bulk_delete_modal');
var $bulkDeleteCount = $('#bulk_delete_count');
var $bulkDeleteDisplayName = $('#bulk_delete_display_name');
var $bulkDeleteInput = $('#bulk_delete_input');
// Reposition modal to prevent z-index issues
$bulkDeleteModal.appendTo('body');
// Bulk delete listener
$bulkDeleteBtn.click(function () {
var ids = [];
var $checkedBoxes = $('#dataTable input[type=checkbox]:checked').not('.select_all');
var count = $checkedBoxes.length;
if (count) {
    // Reset input value
    $bulkDeleteInput.val('');
    // Deletion info
    var displayName = count > 1 ? 'Venues' : 'Venue';
    displayName = displayName.toLowerCase();
    $bulkDeleteCount.html(count);
    $bulkDeleteDisplayName.html(displayName);
    // Gather IDs
    $.each($checkedBoxes, function () {
        var value = $(this).val();
        ids.push(value);
    })
    // Set input value
    $bulkDeleteInput.val(ids);
    // Show modal
    $bulkDeleteModal.modal('show');
} else {
    // No row selected
    toastr.warning('You haven&#039;t selected anything to delete');
}
});
}
</script>
                                    <a href="/admin/venues/order" class="btn btn-primary btn-add-new">
            <i class="fas fa-list"></i> <span>Order</span>
        </a>
                                                                                                                                            </div>
        <div id="fas fa-notifications"></div>
            <div class="page-content browse container-fluid">
<div class="alerts">
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-bordered">
            <div class="panel-body">
                                            <form method="get" class="form-search">
                        <div id="search-input">
                            <div class="col-2">
                                <select id="search_key" name="key" data-select2-id="search_key" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                                                                    <option value="id">Id</option>
                                                                                    <option value="title" selected="" data-select2-id="2">Title</option>
                                                                                    <option value="venue_type">Venue Type</option>
                                                                                    <option value="show_quoteform">Show Quotation Form</option>
                                                                                    <option value="status">Status</option>
                                                                                    <option value="updated_at">Updated At</option>
                                                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 163px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-search_key-container"><span class="select2-selection__rendered" id="select2-search_key-container" role="textbox" aria-readonly="true" title="Title">Title</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <div class="col-2">
                                <select id="filter" name="filter" data-select2-id="filter" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                    <option value="contains" data-select2-id="4">contains</option>
                                    <option value="equals">=</option>
                                </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="3" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-filter-container"><span class="select2-selection__rendered" id="select2-filter-container" role="textbox" aria-readonly="true" title="contains">contains</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Search" name="s" value="">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                                                    </form>
                                        <div class="table-responsive">
                    <table id="dataTable" class="table table-hover">
                        <thead>
                            <tr>
                                                                            <th class="dt-not-orderable">
                                        <input type="checkbox" class="select_all">
                                    </th>
                                                                                                                <th>
                                                                                    <a href="/admin/venues?sort_order=desc&amp;order_by=id">
                                                                                Id
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/venues?sort_order=desc&amp;order_by=title">
                                                                                Title
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/venues?sort_order=desc&amp;order_by=venue_type">
                                                                                Venue Type
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/venues?sort_order=desc&amp;order_by=show_quoteform">
                                                                                Show Quotation Form
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/venues?sort_order=desc&amp;order_by=status">
                                                                                Status
                                                                                                                                    </a>
                                                                            </th>
                                                                        <th>
                                                                                    <a href="/admin/venues?sort_order=asc&amp;order_by=updated_at">
                                                                                Updated At
                                                                                                                                                                                                <i class="fas fa-angle-down pull-right"></i>
                                                                                                                                            </a>
                                                                            </th>
                                                                        <th class="actions text-right dt-not-orderable">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {%for venue in venues%}
                            <tr>
                                 <td>
                                    <input type="checkbox" name="row_id" id="checkbox_{{venue['id']}}" value="{{venue['id']}}">
                                </td>
                                <td>
                                    <div>{{venue['id']}}</div>
                                </td>
                                <td>
                                    <div>Los Pepe Fsuion</div>
                                </td>
                                <td>
                                    <div>Cinema</div>
                                </td>
                                <td>
                                        
                                            Yes

                                </td>
                                <td>
                                  {{'Enabled' if tag['status'] else 'Disabled'}}
                                </td>
                                <td>
                                        {{tag['created_at']}}
                                </td>
                                <td class="no-sort no-click bread-actions">
                                <a href="javascript:;" title="Delete" class="btn btn-sm btn-danger pull-right delete" data-id="{{tag['id']}}" id="delete-{{tag['id']}}">
                                    <i class="fas fa-trash"></i> <span class="hidden-xs hidden-sm">Delete</span>
                                </a>
                                                <a href="/admin/venues/{{tag['id']}}/edit" title="Edit" class="btn btn-sm btn-primary pull-right edit">
                                    <i class="fas fa-edit"></i> <span class="hidden-xs hidden-sm">Edit</span>
                                </a>
                                    <a href="/admin/venues/{{tag['id']}}" title="View" class="btn btn-sm btn-warning pull-right view">
                                    <i class="fas fa-eye"></i> <span class="hidden-xs hidden-sm">View</span>
                                </a>
                                                                                                                                        </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="pull-left">
                        <div role="status" class="show-res" aria-live="polite">Showing 1 to 7 of {{venues | length}} entries</div>
                    </div>
                    <div class="pull-right">
                        
                    </div>
                 </div>
        </div>
    </div>
</div>
</div>


<div class="modal modal-danger fade" tabindex="-1" id="delete_modal" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="fas fa-trash"></i> Are you sure you want to delete this venue?</h4>
        </div>
        <div class="modal-footer">
            <form action="#" id="delete_form" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="Eg6OmmUcVUSCkozFQ0aLelfXW7MBTznF30ONwYm0">
                <input type="submit" class="btn btn-danger pull-right delete-confirm" value="Yes, Delete it!">
            </form>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    </div>
</div>

{%endblock%}