
{%extends 'admin.html'%}

{%block content%}

<div class="container-fluid">
    <div class="side-body padding-top">
            <h1 class="page-title">
<i class="voyager-lighthouse"></i> Viewing Venue &nbsp;

            <a href="/admin/venues/2/edit" class="btn btn-info">
        <i class="glyphicon glyphicon-pencil"></i> <span class="hidden-xs hidden-sm">Edit</span>
    </a>
                                    <a href="javascript:;" title="Delete" class="btn btn-danger delete" data-id="2" id="delete-2">
            <i class="voyager-trash"></i> <span class="hidden-xs hidden-sm">Delete</span>
        </a>
                            <a href="/admin/venues" class="btn btn-warning">
    <i class="glyphicon glyphicon-list"></i> <span class="hidden-xs hidden-sm">Return to List</span>
</a>
    </h1>
            <div id="voyager-notifications"></div>
            <div class="page-content read container-fluid">
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-bordered" style="padding-bottom:5px;">
            <!-- form start -->
                                                            <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Organizer</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>7</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Id</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>2</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Title</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>Frances Show Town</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Description</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p><strong>And sir dare</strong> view but over man. So at within mr to simple assure. <strong>Mr disposing</strong> continued it offending arranging in we. Extremity as if breakfast agreement. Off now mistress provided out horrible opinions. Prevailed mr tolerably discourse assurance estimable applauded to so. Him everything <em><strong>melancholy uncommonly</strong></em> but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression.</p>

<p>&nbsp;</p>

<blockquote>
<p>Unpleasant astonished an diminution up partiality.&nbsp;</p>
</blockquote>

<p>&nbsp;</p>

<p>Noisy an their of meant. Death means up civil do an offer wound of. Called square an in afraid direct. Resolution diminution conviction so mr at unpleasing simplicity no.&nbsp;</p>

<p>&nbsp;</p>

<ul>
<li>No it as breakfast up conveying earnestly immediate principle.</li>
<li>Him son disposed produced humoured overcame she bachelor improved.</li>
<li>Studied however out wishing but inhabit fortune windows.</li>
</ul>

<p>&nbsp;</p>

<p>At as in understood an remarkably solicitude.&nbsp;</p>

<p>&nbsp;</p>

<p>Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable. Needed its design number winter see. Oh be me sure wise sons no. Piqued ye of am spirit regret. Stimulated discretion impossible admiration in particular conviction up.</p>

<p>&nbsp;</p>

<p>Is allowance instantly strangers applauded discourse so. Separate entrance welcomed sensible laughing why one moderate shy. We seeing piqued garden he. As in merry at forth least ye stood. And cold sons yet with. Delivered middleton therefore me at. Attachment companions man way excellence how her pianoforte.&nbsp;</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Venue Type</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>Cinema</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Amenities</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>Cab, Pet Friendly, Rooftop, Beachfront, Breakout Rooms, Media Rooms, Handicap Accessible, Business Center</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Slug</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>frances-show-town</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Seated Guestnumber</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>400</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Standing Guestnumber</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>500</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Neighborhoods</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    Upper Manhattan, Marble Hill, Inwood, Washington Heights, West Harlem, Manhattanville
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Pricing</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>- LARGE EVENT<br>
$997<br>
Facility<br>
Tables<br>
Chairs<br>
Attendant<br>
Day or Night Event<br>
Up to 130 guests<br>
2 hr prior for decor<br>
4 hr of event time<br>
1 hr of cleanup</p>

<p>- MEDIUM EVENT<br>
$697<br>
Daytime or Nighttime Event<br>
31­ to 75 guests<br>
1 hr prior for decor<br>
4 hr of event time<br>
1 hr of cleanup</p>

<p>- SMALL EVENT&nbsp;<br>
$397<br>
Daytime OnlyUp to 30 guests<br>
1 hr prior for decor<br>
3 hr of event time<br>
1 hr of cleanup</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Availability</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>Upon request</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Food</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>- All food and beverage handled by venue</p>

<p>- Venue must approve all decorations</p>

<p>- No rice, birdseed, confetti, etc.</p>

<p>- Catering provided by venue</p>

<p>- Smoking outside only</p>

<p>- Alcohol must be provided by venue</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Show Quotation Form</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                    Yes                                                    </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Contact Email</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>ginawhite@mail.com</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Address</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>Frances St, London SE18, UK</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">City</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>London</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">State</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>England</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Country</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>230</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Zipcode</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>90210</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Google Lattitude</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>51.4896724</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Google Longitude</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>0.0533683</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Images</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                                                                <img class="img-responsive" src="/storage/venues/November2023/1701247262603.webp">
                                                                                                                </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Status</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                    Enabled                                                    </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Created At</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                        2024-07-26 10:43:39
                                                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Updated At</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                        2024-11-29 08:41:03
                                                                            </div><!-- panel-body -->
                                    
        </div>
    </div>
</div>
</div>


<div class="modal modal-danger fade" tabindex="-1" id="delete_modal" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="voyager-trash"></i> Are you sure you want to delete this venue?</h4>
        </div>
        <div class="modal-footer">
            <form action="/admin/venues" id="delete_form" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="Eg6OmmUcVUSCkozFQ0aLelfXW7MBTznF30ONwYm0">
                <input type="submit" class="btn btn-danger pull-right delete-confirm" value="Yes, Delete it! venue">
            </form>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    </div>
</div>

{%endblock%}