

{%extends 'admin.html'%}

{%block content%}

<div class="container-fluid">
    <div class="side-body padding-top">
            <h1 class="page-title">
<i class="voyager-person"></i> Viewing User &nbsp;

            <a href="/admin/users/8/edit" class="btn btn-info">
        <i class="glyphicon glyphicon-pencil"></i> <span class="hidden-xs hidden-sm">Edit</span>
    </a>
                                    <a href="javascript:;" title="Delete" class="btn btn-danger delete" data-id="8" id="delete-8">
            <i class="voyager-trash"></i> <span class="hidden-xs hidden-sm">Delete</span>
        </a>
                            <a href="/admin/users" class="btn btn-warning">
    <i class="glyphicon glyphicon-list"></i> <span class="hidden-xs hidden-sm">Return to List</span>
</a>
    </h1>
            <div id="voyager-notifications"></div>
            <div class="page-content read container-fluid">
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-bordered" style="padding-bottom:5px;">
            <!-- form start -->
                                                            <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">ID</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>8</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Name</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>Katie Stone</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Email</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>katiestone@mail.com</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Created At</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                        2024-09-02 07:37:54
                                                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Updated At</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                        2024-11-29 08:35:34
                                                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Avatar</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                    <img class="img-responsive" src="/storage/users/1701246929827.webp">
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Role</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                     <p>Organiser (Semi-admin)</p>
        
    


                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Organisation</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>Katie Corp.</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Bank Name</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p></p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Bank Code</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p></p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Bank Branch Name</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p></p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Bank Branch Code</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p></p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Bank Account Number</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p></p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Bank Account Name</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p></p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Bank Account Phone</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p></p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Address</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>Alan Street, USA</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Phone</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                                                    <p>1234567890</p>
                                            </div><!-- panel-body -->
                                            <hr style="margin:0;">
                                                                                    <div class="panel-heading" style="border-bottom:0;">
                    <h3 class="panel-title">Status</h3>
                </div>

                <div class="panel-body" style="padding-top:0;">
                                                    Enabled                                                    </div><!-- panel-body -->
                                    
        </div>
    </div>
</div>
</div>


<div class="modal modal-danger fade" tabindex="-1" id="delete_modal" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="voyager-trash"></i> Are you sure you want to delete this user?</h4>
        </div>
        <div class="modal-footer">
            <form action="/admin/users" id="delete_form" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="Eg6OmmUcVUSCkozFQ0aLelfXW7MBTznF30ONwYm0">
                <input type="submit" class="btn btn-danger pull-right delete-confirm" value="Yes, Delete it! user">
            </form>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    </div>
</div>

{%endblock%}